<!-- Comment collpase-->
<span class="comment-collapse item-attr" 
     data-toggle="collapse" 
     data-target=<%="#comment-collapse-" << article.id.to_s %> 
     data-toggle="tooltip" title="评论" >

    <span class="item-comment" id=<%="comment-count-" << article.id.to_s %>>
      (<%= article.comments.size %>)
    </span>
</span>

<!-- Like collapse -->
<span class="like-collapse item-attr" 
     data-toggle="collapse" 
     data-target=<%="#like-collapse-" << article.id.to_s %> 
     data-toggle="tooltip" title="喜欢" 
     onclick="like( <%=article.id.to_s%>)">

    <% item_like_classes = "item-like" %>
    <% if current_user && liked?(article, current_user) %>
        <% item_like_classes = "item-like item-liked" %>
    <% end %>

    <span class="<%= item_like_classes %>"
              id=<%="article-like-" << article.id.to_s %>>
          (<%= article.votes %>)
    </span>
    
</span>