<div id=<%="comment-collapse-" << article.id.to_s %> class="collapse">
  <!-- Ten comments -->
  <div id=<%="comment-list-" << article.id.to_s %> >
    <%= render article.comments[0..10] %>
  </div>

  <!-- Loads 20 more comments -->
  <% if article.comments.size>10 && article.comments.size<=30 %>
    <div class="comment-load-more" 
         id=<%="comment-load-more-" << article.id.to_s %>
         onclick='load_more_comments(<%= article.id %>)'>
        Load more...
    </div>
  <% end %>

  <div class="comment-form-wrapper">
    <!-- Add comment form-->
    <%= form_for([article, article.comments.build], remote: true) do |f| %>
      <%= f.text_area :content,
                      :class => 'article-comment-area',
                      :placeholder =>'Add a comment' %>
      <span class="pull-right comment-count" id=<%="comment-counts-" << article.id.to_s %>> </span>
      <div class="comment-btn" 
           onclick='add_comment(this)'>
        Add
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  var area = document.getElementById('<%="comment-collapse-" << article.id.to_s %>')
                     .getElementsByClassName("article-comment-area")[0];

  // counting the chars in comment area
  new Countable(area, function (counter) {
      var count = document.getElementById('<%="comment-counts-" << article.id.to_s %>');
      count.innerHTML = 200 - counter.characters + ' left';
  });
</script>