<div id=<%="like-collapse-" << article.id.to_s %> class="collapse">
  <!-- likes -->
  <div id=<%="like-list-" << article.id.to_s %> >
    <%= render article.article_likes[0..15] %>
  </div>
</div>


