<% provide(:title, '樂聞 - About us') %>

<div class="row">
  <div class="span8 offset2">
  	<div class="about">
  		<p class="cn">"帮助在丹专业人士了解本地信息".</p>
  		<p>"Helping Expat in Denmark collect local information".</p>
  		<p class="author pull-right">---- 樂聞</p>
		</div>
  </div>
</div>

