<% unless comment.nil? %>
	<% user = comment.user %>
	

	<div class="media">
	  <div class="pull-left">
	  	<span class="comment-user">
	    	<%= link_to image_tag(user.picurl), user_path(user) unless user.nil? || user.picurl.empty? %>
	    </span>
	  </div>
	  <div class="media-body">
	    <p class="media-heading comment-heading">
	    	<span>
	    		<em><%= link_to user.name, user_path(user) unless user.nil? %></em>
	    	</span>

				<%= timeago(comment.created_at)%>
	    </p>

	    <p class="comment-content"><%= comment.content %></p>
	  </div>
	</div>
	
<% end %>