
<% if current_user %>
	$('#comment-list-<%=@article.id.to_s%>').html("<%=j render @article.comments[0..10] %>");

	$('#comment-count-<%=@article.id.to_s%>').html("(<%= @article.comments.size%>)");

	$("abbr.timeago").timeago();
<% else %>
	$('#signup-modal').modal();
<% end %>
