
<div class="panel">
    <div class="article-img">
        <%= (link_to image_tag(article.imgurl), 
                     article_path(article.id), 
                     :target => "_blank") unless article.imgurl.nil? %>
    </div>
    
    <div class="article-title">
        <%= link_to article.title, article_path(article.id), :target => "_blank"  %>
    </div>

    <div class="article-summary">
        <p>
            <%= article.summary %>
            <span class="to-read-more">
                <%= link_to "to read more...", article_path(article.id), :target => "_blank"  %>
            </span>
        </p>
    </div>

    <div class="article-footer">
        <span class="article-source">
        <%= link_to article.source, 
                    articles_path(:lang => article.language, :provider => article.source) %>     
        </span>  
        <%= timeago(article.published_at)%>
    </div>

    <div class="article-collapses">
        <div class="pull-right">
        <%= render :partial => 'articles/collapse/collapse', 
                   :locals => {:article => article} %>
        </div>

        <div class="collapse-item">
        <%= render :partial => 'articles/collapse/comments_collapse', 
                   :locals => {:article => article} %>
        </div>

        <div class="collapse-item">
        <%= render :partial => 'articles/collapse/like_collapse', 
                   :locals => {:article => article} %>
        </div>
    </div>
    
</div>


