<div class="row-fluid">
	<div class="span3">
	    <% @articles_col1.each do |article| %>
	      <%= render :partial => 'articles/article', :object => article %>
	    <% end %>
	</div>

	<div class="span3">
	    <% @articles_col2.each do |article| %>
	      <%= render :partial => 'articles/article', :object => article %>
	    <% end %>
	</div>

	<div class="span3">
	    <% @articles_col3.each do |article| %>
	      <%= render :partial => 'articles/article', :object => article %>
	    <% end %>
	</div>

	<div class="span3">
	    <% @articles_col4.each do |article| %>
	      <%= render :partial => 'articles/article', :object => article %>
	    <% end %>
	</div>
</div>