<% provide(:title, '樂聞 - News') %>

<div class="page"><%= paginate @articles %></div>

<div class="row">
    <div class="span1">
        <p class="lang <%= selected_lang_class('CH') %>"
           data-toggle="tooltip" title="显示所有中文新闻">
            <%= link_to "中文", articles_path(:lang => "CH")%>
        </p>
        <p class="lang <%= selected_lang_class('EN') %>"
           data-toggle="tooltip" title="Show all English news">
            <%= link_to "English", articles_path(:lang => "EN")%>
        </p>
    </div>

    <div class="span11">
        <%= render :partial => 'articles_cols'%>
    </div>
</div>

<div class="page"><%= paginate @articles %></div>

<script>
    // times ago in words
    $(document).ready(function() {
      $("abbr.timeago").timeago();
    });
</script>
