
<% if current_user %>
	<% if @mylike %>
		$('#article-like-<%=@article.id.to_s%>').html("(<%= @article.votes %>)");
		$('#article-like-<%=@article.id.to_s%>').addClass("item-liked");

		$('#like-list-<%=@article.id.to_s%>').html("<%=j render @article.article_likes[0..15] %>");

		$("abbr.timeago").timeago();
	<% end %>
<% else %>
	$('#signup-modal').modal();
<% end %>
