
<% if current_user %>
	<% if @article %>
		$('#comment-list-<%=@article.id.to_s%>').html("<%=j render @article.comments[0..30] %>");
		$('#comment-load-more-<%=@article.id.to_s%>').hide();
	<% end %>
<% end %>
