<% provide(:title, "樂聞 - #{@article.title}") %>
<% provide(:description, @article.summary.to_s ) %>
<% provide(:url, article_path(@article.id)) %>

<div class="row">
  <div class="offset1 span10 offset1">
    <div class="panel article-container">
      <div class="article-content-title">
        <%= @article.title %>
      </div>
      <div id="fb-root"></div>
      <div class="article-readmore">
          (如果文章内容有损坏或不完整，请<%= link_to "阅读原文...", @article.link, :target => "_blank" %>)
      </div>
      <%= social_share_button_tag(@article.title) %>

      <div class="article-footer">
        <span class="article-source">
          <%= @article.source %>
        </span>   
        <%= @article.published_at %>   
      </div>

      <div class="article-content">
        <div class="article-content-img">
          <% if @article.content_img_url %>
            <% img_urls = @article.content_img_url.split(";") %>
            <%= image_tag(img_urls[0]) if img_urls[0] %>
            <%= image_tag(img_urls[1]) if img_urls[1] %>
          <% end %>
        </div>

        <%= raw ( (@article.content && !@article.content.strip.empty?) ? @article.content : @article.summary) %>
      </div>

      <div class="article-readmore">
          (如果文章内容有损坏或不完整，请<%= link_to "阅读原文...", @article.link, :target => "_blank" %>)
      </div>
    </div>


  </div>
</div>


