<div id="user-activities">
	<% @activities.each do |act| %>
		<% if act.instance_of?(Comment) %>
			<%= render :partial => "users/user_comments", 
								 :locals => {:act => act} %>
		<% elsif act.instance_of?(ArticleLike) %>
			<%= render :partial => "users/user_article_likes", 
								:locals => {:act => act} %>
		<% end %>
	<% end %>
		
	<!-- Loads more acts -->
	<% unless @activities.first.nil? %>
	  <% if @activities.size>10 && @activities.size<=20 %>
	    <div class="comment-load-more" 
	         id="load-more-activities-btn"
	         onclick='load_more_activities(<%= @activities.first.user_id %>)'>
	        Load more...
	    </div>
	  <% end %>
  <% end %>

<div>