
<div class="user-activity">
	<span class="item-attr">
  	<span class="item-like item-liked pull-left"%></span>
  	新闻
	</span>

	<span class="activity-time-ago">
  		<%= (time_ago_in_words(act.created_at) << ' ago')%>
  </span>

	<div class="activity-content">
		<span class="activity-article-title">
  		<%= link_to act.article.title, article_path(act.article) %>
  	</span>
  	
  	<div class="activity-article-summary">
  		<%= act.article.summary %>
  	</div>
	</div>
</div>