
<div class="user-activity">
	<span class="item-attr">
  	<span class="item-comment pull-left"%></span>
  	评论
	</span>

  <div class="comment-content">
    "<%= act.content%>"
    <span class="activity-time-ago">
      <%= (time_ago_in_words(act.created_at) << ' ago')%>
    </span>
  </div>

	<div class="activity-content">
		<span class="activity-article-title">
  		<%= link_to act.article.title, article_path(act.article) %>
  	</span>
  	
  	<div class="activity-article-summary">
  		<%= act.article.summary %>
  	</div>
	</div>
</div>