<h4>User: <%= @user.name %></h4>

<div class="user-img">
	<%= image_tag @user.picurl if @user.picurl && !@user.picurl.empty? %>
</div>

<%= form_for(@user) do |f| %>
  <span class="add-on"><i class="icon-envelope"></i></span>
  <%= f.text_field :email %>
  <br />
  <%= f.submit get_edit_submit_text %>
<% end %>