<div class="row">
    <div class="span4">
				<span class="user-header-text"><h3><%= @user.name %></h3></span>

				<div class="user-img">
					<%= image_tag @user.picurl unless @user.picurl.empty?%>
				</div>

				<div class="user-details">
					<i class="icon-envelope"></i><%= ": "%><%= mail_to @user.email%>

					<div class="provider-logo">
						<%= link_to image_tag(logo_name), @user.provider_url, :target => "_blank" %>
					</div>
				</div>
    </div>

    <div class="span8">
    	<div class="panel">
				<%= render :partial => 'users/user_activities' %>
			</div>
		</div>
</div>



