<div class="panel magazine-panel-wapper <%= span_class%>" 
		 style="background-color: <%= bg_color%>">
		 
	<div class="magazine-category-header">
		<%= get_magazine_type(category) %>
	</div>

  <% @magazines_hash[category].each do |magazine| %>
    <div class="magazine-box pull-left">
      <%= magazine.logo_url ? (image_tag magazine.logo_url) : magazine.super_market %>
      <br>
      <%= link_to  get_from_to_date_str(magazine), magazine_path(magazine.id) %>
    </div>
  <% end if @magazines_hash[category]%>
</div>