
<div class="row">
    <%= render :partial => 'magazines/magazine', 
               :locals => {:category => 'Stormagasiner', 
                           :span_class =>'span1', 
                           :bg_color =>'#D4D7DB'} %> 

    <%= render :partial => 'magazines/magazine', 
               :locals => {:category => 'Møbler/indretning', 
                           :span_class =>'span4', 
                           :bg_color =>'#f2f2f2'} %> 

    <%= render :partial => 'magazines/magazine', 
               :locals => {:category => 'Dagligvarer', 
                           :span_class =>'span6', 
                           :bg_color =>'#D4D7DB'} %>      
</div>

<div class="row">
    <%= render :partial => 'magazines/magazine', 
               :locals => {:category => 'Pc/elektronik', 
                           :span_class =>'span4', 
                           :bg_color =>'#f2f2f2'} %>

    <%= render :partial => 'magazines/magazine', 
               :locals => {:category => 'Isenkram', 
                           :span_class =>'span4',
                           :bg_color =>'#D4D7DB'} %>

    <%= render :partial => 'magazines/magazine', 
               :locals => {:category => 'Hvidevarer/elektronik', 
                           :span_class =>'span3', 
                           :bg_color =>'#f2f2f2'} %>
</div>

<div class="row">
    <%= render :partial => 'magazines/magazine', 
               :locals => {:category => 'Legetøj/Hobby', 
                           :span_class =>'span3', 
                           :bg_color =>'#D4D7DB'} %>

    <%= render :partial => 'magazines/magazine', 
               :locals => {:category => 'Byggemarkeder', 
                           :span_class =>'span8', 
                           :bg_color =>'#f2f2f2'} %>   
</div>

<div class="row">
    <%= render :partial => 'magazines/magazine', 
               :locals => {:category => 'Autoudstyr', 
                           :span_class =>'span1', 
                           :bg_color =>'#D4D7DB'} %>

    <%= render :partial => 'magazines/magazine', 
               :locals => {:category => 'Bøger/kontorartikler', 
                           :span_class =>'span1', 
                           :bg_color =>'#f2f2f2'} %>

    <%= render :partial => 'magazines/magazine', 
               :locals => {:category => 'Grænsehandel', 
                           :span_class =>'span9', 
                           :bg_color =>'#D4D7DB'} %>    
</div>