
<div class="row">

    <div class="span8">
    	<div class="magazine-header">
    		<%= "#{@magazine.super_market} 
                (#{@magazine.from_date.to_date} ---- #{@magazine.to_date.to_date})" %>
    	</div>
    	
        <div id="magazine-carousel" class="carousel slide" data-interval="false">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <% @magazine_pages.each do |page| %>
                <div id="item-<%= page.page_number%>" 
                     class="item <%= active_item(page.page_number) %>">
                    <%= image_tag(page.image_url) %>
                </div>
            <% end %>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left"  href="#magazine-carousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#magazine-carousel" data-slide="next">&rsaquo;</a>
        </div>

        <div class="data-source pull-right">
            Data source:
            <%= link_to "www.tilbudsugen.dk", "http://www.tilbudsugen.dk", :target => "_blank" %>
        </div>
    </div>

    <div class="span4">
        <div class="page"><%= paginate @magazine_pages %></div>
        <span class="magazine-page-thumb">
        	<% @magazine_pages.each do |page| %>
                <%= link_to image_tag(page.image_url, :onclick => "set_image('#{page.page_number}')"), 
                            'javascript:void(0)' %>
            <% end %>
        </span>
        <div class="page"><%= paginate @magazine_pages %></div>
    </div>
</div>

