<div style="padding-bottom:18px">
    <%= image_tag tweet.profile_image_url, :size => "30x30" %>
    <%= tweet.from_user %>
    <%= tweet.text %>
    <small>
    	<%= time_ago_in_words(tweet.created_at) << ' ago' %>
    </small>
</div>