<% provide(:title, '樂聞 - Home') %>
<div id="top-corner" data-toggle="tooltip" title="Contact us">
	<%= mail_to "admin@lewen.dk","联系我们" %>
</div>

<div class="row">
	<div class="span12">
		<div class="home-section-title">
			<a id="news-title" 
		 		 data-toggle="popover" data-placement="bottom" data-original-title="新闻 - Latest News..."
		 		 href="javascript:void(0)">最新新闻....</a>
		</div>
	 	<%= render :partial => 'articles/articles_cols'%>	
	</div>
</div>

<div class="row">
	<div class="span12">
		<div class="home-section-title">
			<a id="events-title" 
	 		 	 data-toggle="popover" data-placement="right" data-original-title="活动 - Upcoming Events..."
	 		   href="javascript:void(0)">最新活动....</a>
		</div>
		<div class="polaroid-images span12">
			<% @events.each do |event| %>
		    <%= link_to image_tag(event.logo_url),		    						
		    						type_events_path(:type => "#{event_type_str(event.event_type)}", 
		    														 :city => "#{event.city}"),  
		    						:title => event.name[0..36]%>
		  <% end %>
		</div>
	</div>
</div>

<!-- news pop over-->
<div id="news-popover" style="display: none">
	<p><%= link_to "中文新闻 - Chinese News", articles_path(:lang => 'CH') %></p>
  <p><%= link_to "英语新闻 - English News", articles_path(:lang => 'EN') %></p>
  <p><%= link_to "所有新闻 - All", articles_path %></p>
</div>

<!-- events pop over-->
<div id="events-popover" style="display: none">      
  <p><%= link_to "音乐会 - Music", type_events_path(:type => 'Music') %></p>
  <p><%= link_to "体育 - Sport", type_events_path(:type => 'Sport') %></p>
  <p><%= link_to "剧场 - Teater", type_events_path(:type => 'Teater') %></p>
  <p><%= link_to "会议，课程 - Conference, Classes", type_events_path(:type => 'Conference') %></p>
  <p><%= link_to "Networking, Social", type_events_path(:type => 'Networking') %></p>
  <p><%= link_to "其他 - Others", type_events_path(:type => 'Other') %></p>
</div>

<!--%= render :partial => 'home/tweet', :collection => @tweets %-->

<script>
  // times ago in words
  $(document).ready(function() {
    $("abbr.timeago").timeago();
  });

	$('#news-title').popover(
		{
			content: function() {
      		return $('#news-popover').html();
    	},
			html:true
		}
	);

	$('#events-title').popover(
		{
			content: function() {
	    		return $('#events-popover').html();
	  	},
			html:true
		}
	);
</script>