<div class="bar-event-type"><%= params[:type] %></div>

<% @city_type_count.each do |ctc| %>
	<div class="city-events-count <%= selected_city_class(ctc[0]) %>" >
		<span class="city">
			<%= link_to ctc[0], type_events_path(:type => params[:type], :city => ctc[0]) %>
		</span>
		<span class="count">
			<%= "(#{ctc[1]})" %> 
		</span>
	</div>

	<% if params[:city] == ctc[0] %>
		<% @city_month_type_count.each do |cmtc| %>
			<div class="city-mon-events-count 
					 				<%= selected_year_month_class(cmtc[0].to_s, cmtc[1].to_s) %>" >
				<span class="month">
					<%= link_to "#{I18n.t("date.abbr_month_names")[cmtc[1]]}, #{cmtc[0]}", 
											type_events_path(:type => params[:type], 
																			 :city => ctc[0],
																			 :year => cmtc[0].to_s,
																			 :month => cmtc[1].to_s) %>
				</span>
				<span class="count">
					<%= "(#{cmtc[2]})" %> 
				</span>
			</div>
		<% end %>
	<% end %>

<% end %>