
<div class="panel">
    <div class="media">
      <% if event.logo_url %>
        <%= (link_to image_tag(event.logo_url), event.event_url, :target => "_blank") %>
      <% end %>

      <div class="media-body">
        <div class="media-heading event-name">
            <%= link_to event.name, event.event_url, :target => "_blank"%>
        </div>

        <div class="event-type">
            <%= event.event_type %>
        </div>

        <div>
            <span class="event-when-where">时间:</span>
            <%= event.event_date_str %>
        </div>
        <div>
            <span class="event-when-where">地点:</span>
            <%= event.location %>
        </div>
      </div>
    </div>
</div>

    