<div class="row-fluid">
	<div class="span4">
	    <% @events_col1.each do |event| %>
	      <%= render :partial => 'event', :object => event %>
	    <% end %>
	</div>

	<div class="span4">
	    <% @events_col2.each do |event| %>
	      <%= render :partial => 'event', :object => event %>
	    <% end %>
	</div>

	<div class="span4">
	    <% @events_col3.each do |event| %>
	      <%= render :partial => 'event', :object => event %>
	    <% end %>
	</div>
</div>