<% provide(:title, '樂聞 - Events') %>

<div class="page"><%= paginate @events %></div>

<div class="row">
    <div class="span2">
    	<%= render :partial => 'city_events_count'%>
    </div>

    <div class="span10">
        <%= render :partial => 'events_cols'%>
    </div>
</div>

<div class="page"><%= paginate @events %></div>

