<% unless article_like.nil? %>
	<% user = article_like.user %>
	

	<div class="media">
	  <div class="pull-left">
	  	<span class="item-attr">
	    	<span class="item-like item-liked"%> </span>
	  	</span>
	  </div>
	  <div class="media-body">
	    <p class="media-heading comment-heading">
	    	<span>
	    		<em><%= link_to user.name, user_path(user) unless user.nil? %></em>
	    	</span>
  			<%= timeago(article_like.created_at)%>
	    </p>
	  </div>
	</div>
	
<% end %>