// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-img {
	background: #fff;
	float: left;
	margin: 2px 10px 0 7px;
}

.article-title{
	font-size: 16px;
	padding-bottom: 8px;
}

.article-summary {
	overflow: hidden;
	display: inline;

	p {
		text-align: justify;
	}

	.to-read-more{
		a{
			color: #8b8b8b;
			&:visited {
	    	color: #8b8b8b;
	  	}
		}
	}
}

.article-footer{
	border: 0;
	clear: left;
	margin: 7px 0 0 0;
	padding: 0;
	overflow: hidden;
	color: #8b8b8b;
	white-space: nowrap;

	.article-source {
		a{
			color: #8b8b8b;
			&:visited {
	    	color: #8b8b8b;
	  	}
		}

		margin: 0 10px 10px 0;	
	}	
}

.article-content-title{
	font-size: 20px;
	font-style: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	color: black;
	text-align: center;
}

.article-content{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 20px;
	color: black;

	.article-content-img{
		text-align: center;
		padding-bottom: 5px;
	}
}

.article-readmore{
	color: #8b8b8b;
	a{
		color: #8b8b8b;
		text-decoration:underline;
		&:visited {
    	color: #8b8b8b;
  	}
	}
}

.comment-heading {
  @extend .article-footer;

  em {
  	color: black;
  }
}

.article-collapses{
	padding-top: 7px;

	.collapse-item{
		padding-top: 12px;
	}

	.media, .media .media {
    margin-top: 1px;
	}
}

.item-attr  {
	span {
		font-size: 12px;
		color: #c6c6c6;
		font-family: Arial;
		vertical-align: middle;
		padding-left: 13px;
		margin-right: 5px;
		height: 15px;
		line-height: 15px;
		display: inline-block;
		color: #a9a9a9;
		background: url('icons.png') no-repeat;
	}
	
	.item-comment{
		padding-left: 16px;
		margin-right: 4px;
		background-position: -200px -117px;
	}

	.item-like {
		background: url('icon_love.png') -2px 0 no-repeat;
	}

	.item-liked {
		background-position: -2px -19px;
	}
}

.article-container{
	margin-top: 10px;	
}

