.article-comment-area {
	height: 60px;
  font-size: 12px;
}

.comment-collapse{
	&:hover {
    color: #fff;
    background-color: #BEB7AE;
    cursor: hand; cursor: pointer;
  }

  margin-top: 8px;
  margin-bottom: 5px;
  font-family: arial;
  color: #AA8D58;
  width: 13px;
}

.like-collapse{
	@extend .comment-collapse;
}

.comment-btn {
	width: 60px;
	height: 24px;
	line-height: 24px;
	background: #E2B070;
	text-decoration: none;
	text-align: center;
	color: #fff;

	&:hover {
    color: #fff;
    background-color: #BEB7AE;
    cursor: hand; cursor: pointer;
  }
}

.comment-load-more {
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: default!important;
	font-family: arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	margin: 2px 0;
	min-width: 54px;
	padding: 0 8px;
	text-align: center;
	-webkit-transition: all 0.218s,visibility 0s;
	transition: all 0.218s,visibility 0s;
	-webkit-user-select: none;
	border: 1px solid #c6c6c6!important;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	border: 1px solid #dcdcdc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: rgb(153, 146, 146);

	&:hover{
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		-webkit-transition: all 0.0s;
		transition: all 0.0s;
		background-color: #f8f8f8;
		background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
		background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
		background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
		border: 1px solid #c6c6c6;
		color: #222;
	}
}

.comment-form-wrapper{
	padding-top: 10px;
}

.media-body .comment-content{
	color: #917C46;
}

.comment-count{
	color: #917C46;
	padding-right: 10px;
}

.comment-user{
	img{
		width: 32px;
		height: 32px;
	}
}