@import "bootstrap";
@import "bootstrap-responsive";

.navbar .brand {
	float: left;
	display: block;
	padding: 15px 80px 15px 20px;
	margin-left: -20px;
	font-size: 28px;
	font-weight: 200;
	color: #777;
	text-shadow: 0 1px 0 white;
}

.navbar-inner {
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #F1EBEB;
	background-image: -moz-linear-gradient(top, white, #E8ECEC);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E8ECEC));
	background-image: -webkit-linear-gradient(top, white, #E8ECEC);
	background-image: -o-linear-gradient(top, white, #E8ECEC);
	background-image: linear-gradient(to bottom, white, #E8ECEC);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
	border: 1px solid #CEC9C2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.lewen-logo{
	padding-top: 2px;
	
	img{
		max-height: 35px;
	}
}

.header-item{
	font-size: 17px;
}

.header-subitem{
	font-size: 15px;
}

.dropdown-user{
	img{
		height: 30px;
		width: 30px;
	}
}

.panel {
	border-style: solid;
	border-width: 1px;
	border-color: #d9d9d9;
	margin-bottom: 1.25em;
	padding: 1.25em 1.25em 0.5em;
	background: white;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.page {
	font-size: 16px;
	text-align: center;
	color: #666;
	font-style: italic;
}

.lang{
	font-size: 20px;
	font-family: 'Comic Sans MS';
	font-style: italic;
	a{
		color: #666;
	}
}

.selected-lang {
	border-radius: 3px;
	background: #AFCFD5;
}

#signup-modal{
	width: 250px;
	height: 290px;
	position: fixed; 
	top:35%; 
	left:60%;
	border: 7px solid #8e8e8e;
}

.signup-logos{
	padding-left: 55px;

	.logo {
		
	}
}

.social-like{
	padding-bottom: 2px;
}

.signin-logo{
	padding-bottom: 2px;
}
