
.event-name {
	font-size: 16px;
}

.event-type{
	color: #8b8b8b;
	padding-bottom: 5px;

}

.event-when-where {
		font-weight: bold;
		padding-right: 2px;
}

.city-events-count{
	padding-bottom: 5px;

	.city{
		font-size: 14px;
	}

	.count{
		color: #8b8b8b;
		padding-left: 1px;
	}
}

.selected-city {
	border-radius: 3px;
	background: #AFCFD5;
}

.selected-year-month{
	background: #CCDCDF;
	border-radius: 8px;
}

.city-mon-events-count{
	.month{
		font-size: 13px;
		a{
			color: #524D4D;
		}		
	}

	.count{
		color: #8b8b8b;
		padding-left: 1px;
	}	
	padding-left: 25px;
}

.bar-event-type{
	font-size: 20px;
	font-family: 'Comic Sans MS';
	font-style: italic;
	padding-bottom: 4px;
	margin-bottom: 4px;
	border-bottom: 1px dashed #AFCAD1;
}