.polaroid-images{
	a{
		background: white;
		display: inline;
		float: left;
		padding: 5px 5px 5px;
		text-align: center;
		text-decoration: none;
		-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
		-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
		-o-box-shadow: 0 4px 6px rgba(0,0,0,.3);
		box-shadow: 0 4px 6px rgba(0,0,0,.3);
		-webkit-transition: all .15s linear;
		-moz-transition: all .15s linear;
		-o-transition: all .15s linear;
		transition: all .15s linear;
		z-index:0;
		font-size: 11px;
	}

	img {
		display: block;
		max-height:100px;
		max-width:100%;
	}

	a:nth-child(2n){
		-webkit-transform: rotate(4deg);
		-moz-transform: rotate(4deg);
		-ms-transform: rotate(40deg);
		-o-transform: rotate(40deg);
		transform: rotate(4deg);
	}

	a:nth-child(3n) {
		-webkit-transform: rotate(-24deg);
		-moz-transform: rotate(-24deg);
		-ms-transform: rotate(-24deg);
		-o-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	a:nth-child(4n){
		-webkit-transform: rotate(14deg);
		-moz-transform: rotate(14deg);
		-ms-transform: rotate(14deg);
		-o-transform: rotate(14deg);
		transform: rotate(14deg);
	}

	a:nth-child(5n){
		-webkit-transform: rotate(-18deg);
		-moz-transform: rotate(-18deg);
		-ms-transform: rotate(-18deg);
		-o-transform: rotate(-18deg);
		transform: rotate(-18deg);
	}
} 

.polaroid-images a:hover{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
  transform: rotate(0deg);

	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
  transform: scale(1.2);

	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
	-o-box-shadow: 0 10px 20px rgba(0,0,0,.7);
  box-shadow: 0 10px 20px rgba(0,0,0,.7);

  img{
  	max-height:100%;
  }
  font-size: 18px;
}

.polaroid-images a:after {
	color: #333;	
	content: attr(title);
	position: relative;
	top:5px;
}

.home-section-title{
	font-size: 20px;
	color: #666;
	padding-top: 20px;
	padding-bottom: 20px;
}

#top-corner {
	display: block;
	overflow: hidden;
	width: 90px;
	height: 95px;
	position: absolute;
	right: 0;
	top: 40px;

	a{
		opacity: .6;
		position: absolute;
		right: -65px;
		top: 25px;
		display: block;
		width: 200px;
		background-color: #688897;
		background-image: -moz-linear-gradient(#388A99, #688897);
		background-image: -o-linear-gradient(#388A99, #688897);
		background-image: -ms-linear-gradient(#388A99, #688897);
		background-image: -webkit-linear-gradient(#388A99, #688897);
		text-align: center;
		padding: 5px 3px 6px 3px;
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
		box-shadow: 0 1px 3px rgba(0,0,0,0.3);
		text-decoration: none;
		z-index: 20;

		text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
		color: #fff;
		line-height: 12px;
		display: block;
		font-weight: bold;
	}
}

.new_badge {
	background: none repeat scroll 0 0 #F33E3E;
  -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 5px;
  position: absolute;
  right: -10px;
  text-shadow: none;
  text-transform: uppercase;
  top: 27px;
}