.magazine-page-thumb{
	img{
		max-width: 118px;
		height: auto;
		margin-bottom: 5px;
	}	
}

.magazine-header{
	font-size: 25px;
	text-align: center;
	color: #666;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Comic Sans MS';
	font-style: italic;
}

.shop-menu{
	min-width: 800px;
}

.shop-item{
	margin: 5px;
}

.data-source{
	a{
		color: #8b8b8b;
		&:visited {
    	color: #8b8b8b;
  	}
	}
	color: #8b8b8b;
}

.magazine-box{
	margin: 8px;

	img{
		width: 65px;
		height: 33px;
	}
}

.magazine-category-header{
	font-size: 17px;
	text-align: center;
	color: black;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #BEDADF;
}

.magazine-panel-wapper{
	padding: 1em;
}