body {
  background-image:url('bg.gif');
  color: #333;
  font-family: "Microsoft Yahei","Arail","STHeiti","SimSun","Verdana","Helvetica","sans-serif";
  font-size: 13px;
  line-height: 18px;
  padding-top: 60px; 
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #32599C;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #BEDADF;
  color: #32599C;

  a {
    color: #75787E;
    &:visited {
      color: #75787E;
    }
  }  

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}