.about{
	p{
		text-align: center;
		margin: auto;
		font-size: 35px;
		color: #666;
		padding-top: 60px;
		line-height: 45px;
		font-style: italic;
		font-family: 'Comic Sans MS';
		font-style: oblique;
	}

	.cn{
		font-family: 'Microsoft YaHei';
	}

	.author{
		font-style: normal;
		color: #9E9797;
	}
}
