.user-img {
	background: #fff;
	float: left;
	margin: 2px 30px 0 0;
}

.user-details{
	font-size: 14px;	

	.provider-logo{
		padding-top: 10px;
	}
}

.user-header-text{
	text-shadow: 0 2px 0 white;
	color: #4A8192;
}

.user-activity {
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px dotted rgba(0,0,0,0.1);;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: rgba(0, 0, 0, 0.0980392);
	padding-left: 20px;

	.comment-content{
		color: #AA8D58;
		font-style: italic;
	}

	.activity-time-ago{
		color: rgb(141, 129, 129);
		font-style: italic;
		padding-left: 20px;
	}

	.activity-content{
		
		padding-top: 8px;

		.activity-article-title{
			font-size: 17px;
			font-style: italic;
		}

		.activity-article-summary{
			padding-top: 2px;
			color: rgb(95, 92, 92);
		}
	}
}