
<div>
    Made with 
    <span class="item-attr">
      <span class="item-like item-liked"></span>in CPH
    </span>
</div>

<nav>
  <!-- Social like btns, show in Home page -->
  <% if content_for(:title).include? ("Home") %>
    <ul>
      <div class="social-like">
        <div class="g-plusone" data-size="medium"></div>
      </div>
      <div class="fb-like social-like" 
          data-href="http://www.lewen.dk" 
          data-send="false" 
          data-layout="button_count" 
          data-width="100" 
          data-show-faces="true">
      </div>
      <div class="social-like">
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> 
      </div>
    </ul>
  <% end %>

  <ul>
    <li><%= link_to "About", about_path %></li>
  </ul>
</nav>
