<span class="pull-left lewen-logo">
  <%= link_to image_tag("lewen.png"), root_path %>
</span>

<ul class="nav">

  <li class="dropdown">
    <a class="dropdown-toggle header-item" data-toggle="dropdown" href="#">
      新闻ing - News
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu header-subitem">
      <li>
        <%= link_to "中文新闻 - Chinese News", articles_path(:lang => "CH") %>
      </li>
      <li>
        <%= link_to "英语新闻 - English News", articles_path(:lang => "EN") %>
      </li>
      <li>
        <%= link_to "所有新闻 - All", articles_path %>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle header-item" data-toggle="dropdown" href="#">
      活动 - Events
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu header-subitem">      
      <li>
        <%= link_to "音乐会 - Music", type_events_path(:type => 'Music') %>
      </li>
      <li>
        <%= link_to "体育 - Sport", type_events_path(:type => 'Sport') %>
      </li>
      <li>
        <%= link_to "剧场 - Teater", type_events_path(:type => 'Teater') %>
      </li>
      <li>
        <%= link_to "会议，课程 - Conference, Classes", type_events_path(:type => 'Conference') %>
      </li>
      <li>
        <%= link_to "Networking, Social", type_events_path(:type => 'Networking') %>
      </li>
      <li>
        <%= link_to "其他 - Others", type_events_path(:type => 'Other') %>
      </li>
    </ul>
  </li>

  <li class="header-item">
    <%= link_to "折扣控", magazines_path %>
  </li>
</ul>



<ul class="nav pull-right">

  <% unless user_signed_in? %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Sign in with
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li class="pull-right signin-logo" data-toggle="tooltip" title="Connect via TQQ">
          <%= link_to image_tag("tweibo.png", :size=> "115x30"), "/auth/tqq" %>
        </li>
        <li class="pull-right signin-logo" data-toggle="tooltip" title="Connect via LinkedIn">
          <%= link_to image_tag("linkedin.jpg", :size=> "115x30"), "/auth/linkedin" %>
        </li>
        <li class="pull-right signin-logo" data-toggle="tooltip" title="Connect via Facebook">
          <%= link_to image_tag("facebook.gif", :size=> "115x30"), "/auth/facebook" %>
        </li>
        <li class="pull-right signin-logo" data-toggle="tooltip" title="Connect via Facebook">
          <%= link_to image_tag("twitter.png", :size=> "115x30"), "/auth/twitter" %>
        </li>
        
      </ul>
    </li>
  <% end %>  

  <% if user_signed_in? %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="dropdown-user">
          <%= (image_tag current_user.picurl) if current_user.picurl && !current_user.picurl.empty? %>
        </span>
        <%= current_user.name %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Your Profile", user_path(current_user) %>
        </li>
        <li>
          <%= link_to 'Logout', signout_path %>
        </li>
      </ul>
    </li>
  <% end %> 
</ul>


