<div id="signup-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5>Sign in with:</h5>
  </div>

  <div class="modal-body">
  	<div class="signup-logos">
      <span class="logo" data-toggle="tooltip" title="Connect via LinkedIn">
        <%= link_to image_tag("tweibo.png", :size=> "120x30"), "/auth/tqq" %>
      </span>
      <br><br>
    	<span class="logo" data-toggle="tooltip" title="Connect via LinkedIn">
    		<%= link_to image_tag("linkedin.jpg", :size=> "120x30"), "/auth/linkedin" %>
    	</span>
    	<br><br>
    	<span class="logo" data-toggle="tooltip" title="Connect via Facebook">
    		<%= link_to image_tag("facebook.gif", :size=> "120x30"), "/auth/facebook" %> 
    	</span>
      <br><br>
      <span class="logo" data-toggle="tooltip" title="Connect via Twitter">
        <%= link_to image_tag("twitter.png", :size=> "120x30"), "/auth/twitter" %> 
      </span>
    </div>     
  </div>
</div>