<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= content_for?(:title) ? yield(:title) : "樂聞" %></title>
    <meta name="title" content="<%= content_for?(:title) ? yield(:title) : "樂聞" %>">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "新闻导读,本地活动,超市打折,帮助在丹麦专业人士了解本地信息" %>">
    <meta name="keywords" content="丹麦, 丹麦信息, 丹麦新闻, 哥本哈根, 新闻, 活动, 乐闻, 丹麦语, Denmark, Copenhagen, Arhus, 奥胡斯, 华人, 丹麦华人">
    <meta name="author" content="丹麦 乐闻">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!-- Google + -->
    <link rel="canonical" href=<%= content_for?(:url) ? yield(:url) : "http://www.lewen.dk" %> />
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= render 'layouts/signup_modal' %>
              <%= yield %>
            </div>
          </div>
          <footer class="footer">
            <%= render 'layouts/footer' %>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39730048-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>